*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --clr: #14161e
}
body
{
    min-height: 100vh;
    background: var(--clr);
}
.bara_lateral
{
    position: absolute;
    width: 80px;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    padding-left: 10px;
    padding-bottom: 50%;
    overflow: hidden;
}
.bara_lateral.active
{
    width: 300px;
}
.bara_lateral ul
{
    position: relative;
    height: 100vh;
}
.bara_lateral ul li
{
    position: relative;
    list-style: none;
}
.bara_lateral ul li.active
{
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.bara_lateral ul li.active::before
{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
}
.bara_lateral ul li.active::after
{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 3px var(--clr);
    background: transparent;
}
.bara_lateral ul li.logo
{
    margin-bottom: 60px;
}
.bara_lateral ul li.logo .icono
{
    font-size: 2em;
    color: var(--clr);
}
.bara_lateral ul li.logo .texto
{
    font-size: 1.3em;
    font-weight: 500;
    color: var(--clr);
}
.logo .image img
{
    width: 60px;
    height: auto;
    padding-left: 9px;
    margin-top: 15px;
}
.bara_lateral ul li a
{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.bara_lateral ul li a .icono
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s ease;
}
.bara_lateral ul li a .texto
{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s ease;
}
.bara_lateral ul li.active a .icono
{
    color: #ffff;
}
.bara_lateral ul li.active a .texto
{
    color: var(--bg);
}
.bara_lateral ul li:hover a .icono,
.bara_lateral ul li:hover a .texto
{
    color: var(--bg);
}
.bara_lateral ul li.active a .icono::before
{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;

}
.bara_lateral ul li:hover.active a .icono::before
{
    background: #fff;
}
.perfil
{
    position: relative;
    bottom: 0;
    height: 250px;
    width: 100%;
}
.imgp
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.imgp img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menuToggle
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ff0000;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle::before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}
.menuToggle::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}
.menuToggle.active::before
{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}
.menuToggle.active::after
{
    transform: translateY(0px) rotate(-45deg);
}
input
{
    margin-top: 20px;
    width: 600px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 3px;
}
button
{
    padding: 13px 13px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir el espacio entre las columnas */
}

.card {
    flex: 0 0 calc(33.33% - 20px); /* Ancho para tres álbumes por columna */
    margin: 10px 0; /* Espacio entre las filas */
    border: none; /* Quitamos el borde */
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.card img {
    width: 70%; /* Ajustamos el ancho al 100% para que todas las imágenes tengan el mismo tamaño */
    height: 70%; /* Mantenemos la proporción de la imagen */
    overflow: hidden;/* Ajustamos la imagen para que cubra el contenedor */
}

.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    transition: right 0.5s ease; /* Transición para el desplazamiento lateral */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón sobre la carta */
    transition: transform 0.5s ease; /* Transición suave */
}

.sidebar.open {
    right: 0; /* Muestra la barra lateral cuando tiene la clase 'open' */
}
